In [17]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bharatpur,IN,2022-01-31 08:10:55,27.2167,77.4833,73.67,33,0,1.81
1,1,Roseburg,US,2022-01-31 08:08:04,43.2165,-123.3417,42.91,85,75,0.00
2,2,Thompson,CA,2022-01-31 08:10:55,55.7435,-97.8558,-5.55,98,92,4.76
3,3,Warmbad,NaN,2022-01-31 08:10:56,-28.4500,18.7333,86.18,43,15,15.79
4,4,Rikitea,PF,2022-01-31 08:05:37,-23.1203,-134.9692,77.22,62,100,4.88

In [19]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
Coulds= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights = Coulds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
Wind= city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights = Wind ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Warmbad,NaN,2022-01-31 08:10:56,-28.4500,18.7333,86.18,43,15,15.79
4,4,Rikitea,PF,2022-01-31 08:05:37,-23.1203,-134.9692,77.22,62,100,4.88
5,5,Butaritari,KI,2022-01-31 08:08:01,3.0707,172.7902,82.24,77,69,18.70
11,11,Hobart,AU,2022-01-31 08:08:01,-42.8794,147.3294,79.27,69,10,14.97
12,12,Bintulu,MY,2022-01-31 08:10:57,3.1667,113.0333,82.40,73,97,6.51
13,13,Padang,ID,2022-01-31 08:10:58,-0.9492,100.3543,87.85,76,100,5.39
15,15,Vaini,TO,2022-01-31 08:03:10,-21.2000,-175.2000,77.16,94,75,3.44
19,19,Saint-Philippe,RE,2022-01-31 08:10:21,-21.3585,55.7679,87.35,82,100,14.32
22,22,Ugoofaaru,MV,2022-01-31 08:08:06,5.6667,73.0000,82.24,78,20,14.25
24,24,Mahebourg,MU,2022-01-31 08:10:59,-20.4081,57.7000,87.26,73,51,19.57

In [34]:
preferred_cities_df.count()

City_ID       146
City          146
Country       144
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3          Warmbad     NaN     86.18 -28.4500   18.7333
4          Rikitea      PF     77.22 -23.1203 -134.9692
5       Butaritari      KI     82.24   3.0707  172.7902
11          Hobart      AU     79.27 -42.8794  147.3294
12         Bintulu      MY     82.40   3.1667  113.0333
13          Padang      ID     87.85  -0.9492  100.3543
15           Vaini      TO     77.16 -21.2000 -175.2000
19  Saint-Philippe      RE     87.35 -21.3585   55.7679
22       Ugoofaaru      MV     82.24   5.6667   73.0000
24       Mahebourg      MU     87.26 -20.4081   57.7000

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Warmbad,NaN,86.18,-28.4500,18.7333,
4,Rikitea,PF,77.22,-23.1203,-134.9692,People ThankYou
5,Butaritari,KI,82.24,3.0707,172.7902,Isles Sunset Lodge
11,Hobart,AU,79.27,-42.8794,147.3294,Mantra on Collins Hobart
12,Bintulu,MY,82.40,3.1667,113.0333,900 Boutique INN
13,Padang,ID,87.85,-0.9492,100.3543,Mercure Padang
15,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
19,Saint-Philippe,RE,87.35,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
22,Ugoofaaru,MV,82.24,5.6667,73.0000,Ungoofaaru Inn
24,Mahebourg,MU,87.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [43]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))