## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import gmaps
import requests
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,49.48,99,100,2.15,overcast clouds
1,1,Fare,PF,-16.7000,-151.0167,80.04,76,10,13.80,light rain
2,2,Te Anau,NZ,-45.4167,167.7167,43.07,93,100,3.44,overcast clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,75.54,93,7,8.01,clear sky
4,4,Aswan,EG,24.0934,32.9070,64.85,21,0,19.17,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Fare,PF,-16.7000,-151.0167,80.04,76,10,13.80,light rain
3,3,Puerto Ayora,EC,-0.7393,-90.3518,75.54,93,7,8.01,clear sky
7,7,Rikitea,PF,-23.1203,-134.9692,77.74,73,100,12.30,overcast clouds
10,10,Lethem,GY,3.3803,-59.7968,87.55,48,95,11.77,overcast clouds
12,12,Samarai,PG,-10.6167,150.6667,81.79,80,91,8.88,overcast clouds
15,15,Yambio,SS,4.5721,28.3955,96.76,16,100,6.29,overcast clouds
17,17,Bowen,AU,-20.0167,148.2333,75.42,84,100,16.15,overcast clouds
18,18,Busselton,AU,-33.6500,115.3333,80.10,70,0,7.23,clear sky
19,19,Carnarvon,AU,-24.8667,113.6333,84.27,61,8,14.97,clear sky
20,20,Koster,ZA,-25.8630,26.8976,78.75,41,94,6.42,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
cities_df.count()

City_ID                238
City                   238
Country                234
Lat                    238
Lng                    238
Max Temp               238
Humidity               238
Cloudiness             238
Wind Speed             238
Current Description    238
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cities_df = cities_df.dropna()
cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Fare,PF,-16.7000,-151.0167,80.04,76,10,13.80,light rain
3,3,Puerto Ayora,EC,-0.7393,-90.3518,75.54,93,7,8.01,clear sky
7,7,Rikitea,PF,-23.1203,-134.9692,77.74,73,100,12.30,overcast clouds
10,10,Lethem,GY,3.3803,-59.7968,87.55,48,95,11.77,overcast clouds
12,12,Samarai,PG,-10.6167,150.6667,81.79,80,91,8.88,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
663,663,Lorengau,PG,-2.0226,147.2712,80.64,75,69,6.67,broken clouds
670,670,Birao,CF,10.2849,22.7882,97.05,8,3,10.09,clear sky
671,671,Vanimo,PG,-2.6741,141.3028,77.70,85,79,3.96,broken clouds
675,675,Tipitapa,NI,12.1973,-86.0971,75.22,78,20,4.61,few clouds
676,676,Gamba,GA,-2.6500,10.0000,82.83,68,56,9.95,broken clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Fare,PF,80.04,light rain,-16.7000,-151.0167,
3,Puerto Ayora,EC,75.54,clear sky,-0.7393,-90.3518,
7,Rikitea,PF,77.74,overcast clouds,-23.1203,-134.9692,
10,Lethem,GY,87.55,overcast clouds,3.3803,-59.7968,
12,Samarai,PG,81.79,overcast clouds,-10.6167,150.6667,
15,Yambio,SS,96.76,overcast clouds,4.5721,28.3955,
17,Bowen,AU,75.42,overcast clouds,-20.0167,148.2333,
18,Busselton,AU,80.10,clear sky,-33.6500,115.3333,
19,Carnarvon,AU,84.27,clear sky,-24.8667,113.6333,
20,Koster,ZA,78.75,overcast clouds,-25.8630,26.8976,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")
    # Get the latitude and longitude.
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Fare,PF,80.04,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
3,Puerto Ayora,EC,75.54,clear sky,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Rikitea,PF,77.74,overcast clouds,-23.1203,-134.9692,People ThankYou
10,Lethem,GY,87.55,overcast clouds,3.3803,-59.7968,Savannah Inn
12,Samarai,PG,81.79,overcast clouds,-10.6167,150.6667,Nuli Sapi
15,Yambio,SS,96.76,overcast clouds,4.5721,28.3955,Naivasha Hotel
17,Bowen,AU,75.42,overcast clouds,-20.0167,148.2333,Castle Motor Lodge Motel
18,Busselton,AU,80.10,clear sky,-33.6500,115.3333,Observatory Guest House
19,Carnarvon,AU,84.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon
20,Koster,ZA,78.75,overcast clouds,-25.8630,26.8976,Klub Kranskuil

In [29]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace(r'^s*$', float('NaN'), regex = True) 
hotel_df.isnull().sum()
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Fare,PF,80.04,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
3,Puerto Ayora,EC,75.54,clear sky,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Rikitea,PF,77.74,overcast clouds,-23.1203,-134.9692,People ThankYou
10,Lethem,GY,87.55,overcast clouds,3.3803,-59.7968,Savannah Inn
12,Samarai,PG,81.79,overcast clouds,-10.6167,150.6667,Nuli Sapi
...,...,...,...,...,...,...,...
657,Camocim,BR,86.99,overcast clouds,-2.9022,-40.8411,Ilha Praia Hotel
660,Abeche,TD,88.79,clear sky,13.8292,20.8324,Assaleh Hamdan Haroune
663,Lorengau,PG,80.64,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
671,Vanimo,PG,77.70,broken clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
675,Tipitapa,NI,75.22,few clouds,12.1973,-86.0971,Hotel Entre Rios

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))